@import 'tailwindcss';
@plugin './hero.mts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

[data-overlay-container=true] {
  height: 100%;
  width: 100%;
}
