[tools]
node = "25.2.0"
rust = "nightly"

[tasks."setup:btrfs-local-unmount"]
description = "Unmount the btrfs local image file for easy local testing"
run = [
    "sudo umount local/btrfs-mnt/ || true",
]

[tasks."setup:btrfs-local-img"]
description = "Setup a btrfs local image file for easy local testing"
depends = ["setup:btrfs-local-unmount"]
outputs = ["local/btrfs.img"]
sources = ["local/btrfs.img"]
run = [
    "dd if=/dev/zero of=local/btrfs.img bs=1G count=8",
    "mkfs.btrfs local/btrfs.img",
]

[tasks."setup:btrfs-local-mount"]
description = "Mount the btrfs local image file for easy local testing"
run = [
    "mkdir -p local/btrfs-mnt/",
    "sudo mount -o loop,user local/btrfs.img local/btrfs-mnt/",
    "sudo chown --reference=local local/btrfs-mnt/",
]

[tasks."install:frontend"]
description = "Install the frontend dependencies"
dir = "frontend/"
sources = ["package.json", "package-lock.json"]
outputs = ["node_modules/**/*"]
run = [
    "npm install",
]

[tasks."test:frontend:ts"]
description = "Test the frontend types"
dir = "frontend/"
sources = ["package.json", "package-lock.json", "next.config.ts", "tsconfig.json", "tailwind.config.js", "postcss.config.js", "src/**/*", "public/**/*"]
run = [
    "npm run test:ts",
]

[tasks."build:frontend"]
description = "Build the frontend"
dir = "frontend/"
sources = ["package.json", "package-lock.json", "next.config.ts", "tsconfig.json", "tailwind.config.js", "postcss.config.js", "src/**/*", "public/**/*"]
outputs = ["out/**/*"]
depends = ["build:openapi-fetch-spec"]
wait_for = ["install:frontend"]
run = [
    "npm run build",
]

[tasks."dev:frontend"]
description = "Run the frontend development server"
dir = "frontend/"
run = [
    "npm run dev",
]

[tasks."dev:server"]
description = "Run the server in development mode"
env.DATA_DANCE_CONFIG = "resources/testing/config.toml"
run = [
    "cargo run",
]

[tasks."build:openapi-fetch-spec"]
description = "Fetch the OpenAPI spec from the server and inject into client"
sources = ["Cargo.toml", "Cargo.lock", "src/**/*"]
outputs = ["frontend/src/lib/api/spec.ts"]
run = """
#!/usr/bin/env bash
set -e

temp_spec=$(mktemp)
cargo run --bin generate_api_spec > "$temp_spec"
echo "Written temporary spec to $temp_spec"

npx -y openapi-typescript "$temp_spec" -o frontend/src/lib/api/spec.ts
echo "Generated frontend/src/lib/api/spec.ts"

rm "$temp_spec"
echo "Removed temporary spec"
"""

[tasks."build:server"]
description = "Build the server for release with embedded frontend"
sources = ["Cargo.toml", "Cargo.lock", "src/**/*"]
outputs = ["target/release/data-dance"]
depends = ["build:frontend"]
run = [
    "rm -rf target/site/",
    "cp -r frontend/out target/site",
    "cargo build --release",
]

[tasks."run:server"]
description = "Runs the built release server"
depends = ["build:server"]
env.DATA_DANCE_CONFIG = "resources/testing/config.toml"
run = [
    "target/release/data-dance",
]
